.logon-container {
	width: 100vw;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

/* resize images */
.logon-container section.imgsize1 img {
	width: 100%;
	max-width: 100vw;
	height: auto;
}

.logon-container section.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.logon-container section.form img {
	width: 30%;
	max-width: 100vw;
	height: auto;
}

.logon-container section.form form {
	margin-top: 30px;
}

.logon-container section.form form h1 {
	font-size: 32px;
	margin-bottom: 32px;
	text-align: center;
}

.logon-container section.form form select {
	font-size: 24px;
	margin-bottom: 16px;
}
